﻿<div>
    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">Adres e-mail</label>
            <input type="email"
                   class="form-control" 
                   aria-describedby="emailHelp" 
                   placeholder="Enter email"
                   bind-value-oninput="@Email"/>
            <span>@Email</span>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password"
                   value="@Password"
                   class="form-control" 
                   placeholder="Password">
        </div>
    </form>
</div>

@functions {
    private string Email { get; set; } = "a@utp.edu.pl";

    [Parameter]
    private string Password { get; set; }
}