﻿@layout LoginLayout
@page "/"


<h1>Logowanie</h1>
<div>
    <LoginComponent Password="@password"/>
</div>
<div>
    <button type="button"
            onclick="@login"
            class="btn btn-primary">Login</button>

    <span>@emailAndPassword</span>
</div>

@functions{

    string email { get; set; }
    string password { get; set; }

    string emailAndPassword { get; set; }

    private void login(UIMouseEventArgs e)
    {
        emailAndPassword = $"{email} - {password}";
    }
}