@inherits LayoutComponentBase

<div class="main" style="height: 100vh; padding-top:25vh; padding-bottom: 25vh; padding-left:25vw; padding-right:25vw;">
    <div class="content px-4">
        @Body
    </div>
</div>
